body {
    margin: 15px auto;
    background: url(../img/subtle_dots.png);
}

@media (min-width: 1200px) {
    body {
        width: 800px;
    }
}

@media (min-width: 979px) and (max-width: 1200px) {
    body {
        width: 700px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    body {
        width: 650px;
    }
}

@media (max-width: 767px) {
    body {
        width: auto;
    }
}

@media (max-width: 480px) {
    body {
        width: auto;
    }
}

.title {
    margin-top: 40px;
}

.post-list {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.post-list .date {
    color: #aaa;
}

.post-list li.year-switch {
    border-top: 1px #CCC solid;
    padding-top: 10px;
}

.author {
    border-top: 1px #CCC solid;
    padding-top: 10px;
    height: 100px;
    font-size: 17px;
}

.author .avatar {
    float: right;
    border: 1px solid #777;
}

.author .details {
    margin-top: 15px;
}

.author .details p {
    margin-top: 20px;
}

article {
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 30px;
}

article.post {
    margin-bottom: 300px;
}

article .date {
    color: #888;
    margin-top: 18px;
}

article .body {
    font-family: georgia, times, serif;
}

article h1 {
    margin: 20px 0;
    color: #111;
}

article h2 {
    font-size: 24px;
}

article h3 {
    font-size: 20px;
}

article h1, article h2, article h3, article h4, article h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}

article p {
    margin: 0 0 15px;
}

article div.ascii-table {
    overflow-x: auto;
    text-align: center;
}

article div.ascii-table > pre {
    display: inline-block;
    white-space: pre;
    overflow-x: hidden;

    padding: 0;
    margin: 0 0 17px;
    background-color: inherit;
    border: none;
}

nav + .hero-unit {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*nav + .hero-unit h1 {
    margin-top: 0px;
}*/

.icon-speakerdeck {
    background: url(/img/speakerdeck.png);
}

.icon-joindin {
    background: url(/img/joindin.png);
}
