<div class="author">
    <div class="avatar">
        <img src="/img/igor.jpg" alt="Igor">
    </div>

    <div class="details">
        <p>Brought to you by <a href="https://twitter.com/igorwhilefalse">@igorwhilefalse</a>.</p>
        <p>
            Projects you may be interested in:
            <a href="https://github.com/fabpot/Silex">Silex</a>,
            <a href="http://stackphp.com">Stack</a>,
            <a href="http://yolophp.com">YOLO</a>,
            <a href="http://reactphp.org">React</a>.
        </p>
    </div>
</div>
