<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | strip_html }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css?v=2">
    <link rel="stylesheet" href="/css/github.css">
    <link rel="alternate" href="/index.atom" type="application/atom+xml" title="All">
    <link rel="alternate" href="/tags/php.atom" type="application/atom+xml" title="PHP">
    <link rel="alternate" href="/tags/symfony.atom" type="application/atom+xml" title="symfony">
    <meta name="viewport" content="initial-scale=1.0">
</head>
<body>

<div class="container-fluid">

    <nav>
        <i class="icon-home"></i> <a href="/">home</a>
        &nbsp;<i class="icon-bullhorn"></i> <a href="/talks.html">talks</a>
        &nbsp;<i class="icon-book"></i> <a href="/bookshelf.html">bookshelf</a>
        &nbsp;<i class="icon-file"></i> <a href="/papershelf.html">papershelf</a>
        &nbsp;<i class="icon-facetime-video"></i> <a href="/videoshelf.html">videoshelf</a>
    </nav>
