body {
    margin: 15px auto;
    background: url(../img/subtle_dots.png);
}

@media (min-width: 1200px) {
    body {
        width: 800px;
    }
}

@media (min-width: 979px) and (max-width: 1200px) {
    body {
        width: 700px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    body {
        width: 650px;
    }
}

@media (max-width: 767px) {
    body {
        width: auto;
    }
}

@media (max-width: 480px) {
    body {
        width: auto;
    }
}

.title {
    margin-top: 40px;
}

.post-list {
    font-size: 20px;
    margin-top: 20px;
}

.post-list .date {
    color: #aaa;
}

article {
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
}

article .date {
    color: #888;
    margin-top: 18px;
}

article .body {
    font-family: georgia, times, serif;
}

article h1 {
    margin: 20px 0;
    color: #111;
}

article h2 {
    font-size: 24px;
}

article h3 {
    font-size: 20px;
}

article h1, article h2, article h3, article h4, article h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: normal;
}

article p {
    margin: 0 0 15px;
}
