<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}igorw{% endblock %}</title>
    <link rel="stylesheet" href="{{ relativeRoot }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ relativeRoot }}/css/main.css">
    <link rel="alternate" href="{{ relativeRoot }}/index.atom" type="application/atom+xml" title="Atom feed">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0">
</head>
<body>

<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>

</body>
</html>
