<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}igorw{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" href="/index.atom" type="application/atom+xml" title="All">
    <link rel="alternate" href="/tags/php.atom" type="application/atom+xml" title="PHP">
    <link rel="alternate" href="/tags/symfony.atom" type="application/atom+xml" title="symfony">
    <meta name="viewport" content="initial-scale=1.0">
</head>
<body>

<div class="container-fluid">
    {% block body %}
    {% endblock %}

    {% include "author.html.twig" %}
</div>

</body>
</html>
