{% extends "base.html.twig" %}

{% block body %}
    <h1 class="title">igorw</h1>

    <ul class="unstyled post-list">
        {% for post in posts %}
        <li class="row-fluid">
            <span class="span2 date">{{ post.date|date('M d') }}</span>
            <span class="span10"><a href="{{ post.path }}">{{ post.title }}</a></span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
