{% extends "base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <nav>
        <i class="icon-home"></i> <a href="/">home</a>
    </nav>

    <article>
        <div class="date pull-right">
            {{ post.date|date('M jS, Y') }}
        </div>

        <div class="body">
            {{ post.body|raw }}
        </div>
    </article>
{% endblock %}
