{% include header.html %}

<h1 class="title" title="Hi, I'm Igor Wiedler and this is my weblog!">
    igorw
</h1>

<ul class="unstyled post-list">
    {% if page.posts %}
        {% assign posts = page.posts %}
    {% else %}
        {% assign posts = site.posts %}
    {% endif %}

    {% for post in posts %}
        {% capture year_switch %}{% endcapture %}
        {% if post.next %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                {% capture year_switch %}year-switch{% endcapture %}
            {% endif %}
        {% endif %}

        <li class="row-fluid {{ year_switch }}">
            <span class="span2 date" title="{{ post.date | date: '%B %d, %Y' }}">{{ post.date | date: '%b %d' }}</span>
            <span class="span10"><a href="{{ post.url }}">{{ post.title }}</a></span>
        </li>
    {% endfor %}
</ul>

{% include footer.html %}
